---
title: Sightations
top: Kyle Simek
layout: home 
---
{% for post in paginator.posts %}
<div class="firehose-post article">
    {% assign excerpt = true %}
    {% assign link_title = true %}
    {% assign content = post.content %}
    {% include post.html %}
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl}}{{paginator.previous_page_path}}" class="previous">&lt;&lt; Read Newer Posts</a>
  {% endif %}
  {% if paginator.next_page and paginator.previous_page %}
    |
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ site.baseurl}}{{paginator.next_page_path}}" class="next ">Read Older Posts &gt;&gt;</a>
  {% endif %}
</div>
