{% if excerpt %}
  <a class="title-link" href="{{post.url}}">
  <h1 class="title">{{ post.title }}</h1>
  </a>
{% else %}
  <h1 class="title">{{ post.title }}</h1>
{% endif %}
  <div class="date emphnext">{{ post.date | date: "%B %d, %Y" }}</div>
    {% if page.edit %}
    <div class="edit-disclosure">
    {{page.edit}}
    </div>
    {% endif %}


  {% if excerpt and post.excerpt %}
    {{ post.excerpt }}
    <p> <a href="{{ post.url }}#more" class="more-link"><span class="readmore">more...</span></a></p>
  {% else %}
    {% if excerpt != true and site.enable_hiring %}
    {% include hire %}
    {% endif %}

    {{ content | mark_excerpt }}

    {% if excerpt and site.enable_hiring %}
    {% include hire %}
    {% endif %}

      <address class="signature">
        Posted by
        <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
      </address>
  {% endif %}

