<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} &larr; {{ page.top }}</title>
   <meta name="author" content="{{ site.author.name }}" />

   <link rel="start" href="{{ HOME_PATH }}" />

	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
	
    <link rel="shortcut icon" href="/favicon.ico">

	{% if site.author.feedburner %}
  	<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/{{ site.author.feedburner }}" title="RSS feed" />
	{% endif %}
	{% if page.feed %}
  	<link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
	{% endif %}

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css" type="text/css" />

   <!-- Jquery UI CSS --!>
	{% if page.jquery_ui %}
   <link media="screen" rel="stylesheet" href="/css/ui-smoothness/jquery-ui-1.8.22.custom.css" type="text/css" />
	{% endif %}

   <!-- Homepage CSS -->
   <link media="screen" rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" />

   <!-- Handheld CSS -->
   <link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{{ ASSET_PATH }}/css/handheld.css" type="text/css" rel="stylesheet" />


<!--[if IEMobile]>
<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/handheld.css" media="screen" />
<![endif]-->

   <!-- Mathjax Javascript -->

	{% if page.latex_math %}
   <script type="text/javascript"
     src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>
    {% endif %}

   <!-- three.js Javascript -->
	{% if page.jquery or page.jquery_ui %}
    <script src="/js/jquery.js"></script>
	{% endif  %}
	{% if page.jquery_ui %}
    <script src="/js/jquery-ui-1.8.22.custom.min.js"></script>
	{% endif  %}
	{% if page.three_js %}
    <script src="/js/Detector.js"></script>
    <script src="/js/Three.js"></script>
    <script src="/js/calcam.js"></script>
    {% endif %}

	{% if page.jquery or page.jquery_ui %}
    <script type="text/javascript">
        $(document).ready(function(){
                $('#javascript_error').hide();
        });
    </script>
    {% endif %}

</head>
<body id="{{ page.section }}">
<div id="site">
  
  <div id="header">
    <h1>
    	<a href="{{ HOME_PATH }}" title="{{ site.title }}">{{ site.title }}</a>
    	<span class="byline">&larr; <a href="{{ HOME_PATH }}">A Computer Vision Blog</a></span>
    </h1>
    <ul class="nav">
      <li><a class="home" href="{{ HOME_PATH }}">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/code.html">Code</a></li>
      <li><a  href="/archive.html">Archive</a></li>
      <li><a  href="/feeds.html"><img src="/img/feed-icon.gif" /></a></li> 
{% comment %}
      <li><a  href="/pages.html">Pages</a></li>
      <li><a  href="/categories.html">Categories</a></li>
      <li><a  href="/tags.html">Tags</a></li>
{% endcomment %}
    </ul>
  </div>

  {{ content }}
  
  <div id="footer">
  	<address>
  		<span class="copyright">
  			Content by <a href="/about.html">{{ site.author.name }}</a>. Original design by 
  			<a href="http://mark.reid.name/">Mark Reid</a>
  			<br/>
  			(<a rel="licence" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Some rights reserved</a>)			
  		</span>
  		<span class="engine">
  			Powered by <a href="https://github.com/mojombo/jekyll/" title="A static, minimalist CMS">Jekyll</a>
  		</span>
  	</address>
  </div>
  
</div>

<!--[if IE 6]>
<script type="text/javascript"> 
	/*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; } 
	var IE6UPDATE_OPTIONS = {
		icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
	}
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->

  {% include JB/analytics %}
</body>
</html>
